* {box-sizing: border-box;}
body {margin:0; padding:0;}
#var-table {
  position:absolute;
  left:10px;
  top:10px;

  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: 16px;

  border-spacing: 0;
  border-collapse: separate;
}
#var-table th {
  text-align: left;
  border-bottom: 2px solid #aaa;
}
#var-table td {
  border-bottom: 1px solid #aaa;
}
.var-name {
  min-width:150px;
}
.var-ref {
  text-align:right;
}
#var-table tr {
  height:28px;
}
line.link {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
  dominant-baseline: middle;
}

.var-links path {
  fill:none;
  stroke-width: 1px;
  stroke: #000;
}